<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-padding-bottom ion-margin-bottom">

    <ion-card-header>
      <ion-card-title>Memorias</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <ion-input formControlName="texto" placeholder="Ingresa tu memoria"></ion-input>
        <ion-button type="submit">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Memorias</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!-- Muestra los elementos -->
      <ion-list>
        <ion-item *ngFor="let datum of data">
          <ion-label> {{ datum?.texto }} </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>


</ion-content>